<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <listener>
        <listener-class>
            com.myprograms.guestbook.FeedbackApplicationInitializer
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.myprograms.guestbook.FeedbackServlet</servlet-class>
        <init-param>
            <param-name>feedbackService</param-name>
            <param-value>com.myprograms.guestbook.FeedbackService</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/guestbook</url-pattern>
    </servlet-mapping>
</web-app>